#othleft-sidebar2{
width: 247px;
/*background-color:#000;*/
margin-top: 0px;
min-height:0px;
margin-left:0px;

}
#othleft-sidebar2 h1{
	padding:3px 0px 0px 20px;
	margin:0px;
	height:19px;
	font-size:12px;
	color:#58656e;
	text-shadow: 0.1em 0.1em #fff;
	width:226px;
	background:url(../images/leftnav-head-bg.png) repeat-x;
	border-bottom:1px #b9c7d0 solid;
	border-top:1px #b9c7d0 solid;
}
.lsearch_bar{
	padding:12px 0px 0px 17px;
	margin:0px 0px 0px 0px;
	width: 228px;
	height:40px;
	border-bottom:1px #E9E9E9 solid;
	background:#f8fafb;
	-webkit-border-top-left-radius: 3px;

-moz-border-radius-topleft: 3px;

border-top-left-radius: 3px;

}
.lsearch_bar_left{
	width:170px;
	height:28px;
	background:url(../images/sbarleft.png) no-repeat left top;
	float:left;
	border:0px;
	outline:none;
	padding:0px 8px;
	color:#999;
	font-size:12px;
}
.sbut{
	width:36px;
	height:32px;
	background:url(../images/sbut.png) no-repeat;
	float:left;
	border:0px;
	cursor:pointer;
}
#othleft-sidebar2 ul{
margin:0px;
padding:0px 0px 0px 0px;
width: 245px;
list-style:none;
}
#othleft-sidebar2 li:hover{
opacity:1;
border:0px;
margin:0 -2px 0 0px;
}
#othleft-sidebar2 li.list_active{

opacity:1;
border:0px;
background: url(../images/active-left-menu.png) no-repeat right;
margin:0 -1px 0 0px;
}
#othleft-sidebar2 ul li a:hover{
}

#othleft-sidebar2 ul li.list_active a{
	color:#F60;
	border-bottom:1px #dee4e9 solid;
}

#othleft-sidebar2 ul li:hover ul li a{

}

.micon {
height: 19px;
margin-right: 9px;
margin-top: 6px;
outline: medium none;   
width: 19px;
float:left;
}

/*#menu_dashboard{
background:url('../images/menu_icons/menu_dashboard.png') no-repeat transparent;
}

#menu_content{
background:url('../images/menu_icons/menu_notepad.png') no-repeat transparent;
}

#menu_user{
background:url('../images/menu_icons/menu_user.png') no-repeat transparent;
}

#menu_page{
background:url('../images/menu_icons/menu_page.png') no-repeat transparent;
}

#menu_setting{
background:url('../images/menu_icons/menu_setting.png') no-repeat transparent;
}

#menu_taxonomy{
background:url('../images/menu_icons/menu_taxonomy.png') no-repeat transparent;
}

#menu_resource{
background:url('../images/menu_icons/menu_resource.png') no-repeat transparent;
}

#menu_manage{
background:url('../images/menu_icons/menu_sun.png') no-repeat transparent;
}
*/
#othleft-sidebar2 ul li{
opacity: 1.0;
display:block;
margin-bottom:0px;

/*background:#4b4b4b ;

box-shadow: 0px 0px 8px #9f9f9f;
    -moz-box-shadow: 0px 0px 8px #9f9f9f;
    -webkit-box-shadow: 0px 0px 8px #9f9f9f;
background:#525252 url(../images/navli-bg.png) repeat-x bottom;*/

}

#othleft-sidebar2 ul li a{
color:#666;
display: block;
font-family: arial,sans-serif;
font-size: 12px;
padding-left: 45px;
padding-right: 15px;
padding-top: 6px;
padding-bottom: 7px;
text-decoration: none;
margin-bottom:0px;

/*font-weight:bold;*/
/*text-transform:uppercase;*/
border-bottom:1px #e2e8ed solid;
border-top:0px #fff solid;
background:url(../images/arrow_medium.png) no-repeat 8px 9px;
}
/*#othleft-sidebar2 ul li a.mail_ico{background:url(../images/mail-ico.png) no-repeat 13px 18px}
#othleft-sidebar2 ul li a.event_ico{background:url(../images/event-ico.png) no-repeat 13px 18px}*/
#othleft-sidebar2 ul li a.studlist_ico{background:url(../images/stud_icons.png) no-repeat 18px 10px}
#othleft-sidebar2 ul li a.studnew_ico{background:url(../images/stud_icons.png) no-repeat 18px -26px}
#othleft-sidebar2 ul li a.mangur_ico{background:url(../images/stud_icons.png) no-repeat 18px -63px}
#othleft-sidebar2 ul li a.studsett_ico{background:url(../images/stud_icons.png) no-repeat 18px -100px}
/*home icons*/
#othleft-sidebar2 ul li a.inbox_ico{background:url(../images/inbox-icons.png) no-repeat 18px 13px}
#othleft-sidebar2 ul li a.news_ico{background:url(../images/inbox-icons.png) no-repeat 18px -174px}
#othleft-sidebar2 ul li a.messgnew_ico{background:url(../images/inbox-icons.png) no-repeat 18px -28px}
#othleft-sidebar2 ul li a.sentitem_ico{background:url(../images/inbox-icons.png) no-repeat 18px -66px}
#othleft-sidebar2 ul li a.cal_ico{background:url(../images/inbox-icons.png) no-repeat 18px -104px}
#othleft-sidebar2 ul li a.evnttype_ico{background:url(../images/inbox-icons.png) no-repeat 18px -138px}
#othleft-sidebar2 ul li a.evntlist_ico{background:url(../images/inbox-icons.png) no-repeat 18px -214px}
/*hostel icons*/
#othleft-sidebar2 ul li a.sroom_ico{background:url(../images/hostel-icons.png) no-repeat 18px 9px}
#othleft-sidebar2 ul li a.lroom_ico{background:url(../images/hostel-icons.png) no-repeat 18px -30px}
#othleft-sidebar2 ul li a.hstel_detail_ico{background:url(../images/hostel-icons.png) no-repeat 18px -72px}
#othleft-sidebar2 ul li a.aroom_ico{background:url(../images/hostel-icons.png) no-repeat 18px -110px}
#othleft-sidebar2 ul li a.bbook_ico{background:url(../images/hostel-icons.png) no-repeat 18px -176px}
#othleft-sidebar2 ul li a.c_room_ico{background:url(../images/hostel-icons.png) no-repeat 18px -217px}
#othleft-sidebar2 ul li a.vroom_ico{background:url(../images/hostel-icons.png) no-repeat 18px -257px}
#othleft-sidebar2 ul li a.ddbook_ico{background:url(../images/hostel-icons.png) no-repeat 18px -300px}
#othleft-sidebar2 ul li a.m_manage_ico{background:url(../images/hostel-icons.png) no-repeat 18px -449px}
#othleft-sidebar2 ul li a.vsd_ico{background:url(../images/hostel-icons.png) no-repeat 18px -406px}
#othleft-sidebar2 ul li a.vmd_ico{background:url(../images/hostel-icons.png) no-repeat 18px -494px}
#othleft-sidebar2 ul li a.notify_ico{background:url(../images/hostel-icons.png) no-repeat 18px -534px}

/*library icons*/
#othleft-sidebar2 ul li a.sbook_ico{background:url(../images/library-icons.png) no-repeat 18px 9px}
#othleft-sidebar2 ul li a.lbook_ico{background:url(../images/library-icons.png) no-repeat 18px -30px}
#othleft-sidebar2 ul li a.abook_ico{background:url(../images/library-icons.png) no-repeat 18px -72px}
#othleft-sidebar2 ul li a.ibook_ico{background:url(../images/library-icons.png) no-repeat 18px -114px}
#othleft-sidebar2 ul li a.bbook_ico{background:url(../images/library-icons.png) no-repeat 18px -176px}
#othleft-sidebar2 ul li a.rbook_ico{background:url(../images/library-icons.png) no-repeat 18px -217px}
#othleft-sidebar2 ul li a.vdbook_ico{background:url(../images/library-icons.png) no-repeat 18px -257px}
#othleft-sidebar2 ul li a.ddbook_ico{background:url(../images/library-icons.png) no-repeat 18px -300px}
#othleft-sidebar2 ul li a.acbook_ico{background:url(../images/library-icons.png) no-repeat 18px -366px}
#othleft-sidebar2 ul li a.vsd_ico{background:url(../images/library-icons.png) no-repeat 18px -406px}
#othleft-sidebar2 ul li a.vauthor_ico{background:url(../images/library-icons.png) no-repeat 18px -443px}
/*student icons*/
#othleft-sidebar2 ul li a.sl_ico{background:url(../images/student-icons.png) no-repeat 18px 10px}
#othleft-sidebar2 ul li a.sm_ico{background:url(../images/student-icons.png) no-repeat 18px -30px}
/*employee icons*/
#othleft-sidebar2 ul li a.ar_ico{background:url(../images/employee-icons.png) no-repeat 18px 10px}
#othleft-sidebar2 ul li a.sa_ico{background:url(../images/employee-icons.png) no-repeat 18px -30px}
#othleft-sidebar2 ul li a.md_ico{background:url(../images/employee-icons.png) no-repeat 18px -66px}
#othleft-sidebar2 ul li a.mp_ico{background:url(../images/employee-icons.png) no-repeat 18px -108px}
#othleft-sidebar2 ul li a.mg_ico{background:url(../images/employee-icons.png) no-repeat 18px -150px}
/*courses icons*/
#othleft-sidebar2 ul li a.gs_ico{background:url(../images/courses-icon.png) no-repeat 19px 10px}
#othleft-sidebar2 ul li a.ne_ico{background:url(../images/courses-icon.png) no-repeat 19px -55px}
#othleft-sidebar2 ul li a.cp_ico{background:url(../images/courses-icon.png) no-repeat 19px -116px}
/*fees icons*/
#othleft-sidebar2 ul li a.cf_ico{background:url(../images/fees-icons.png) no-repeat 19px 10px}
#othleft-sidebar2 ul li a.fc_ico{background:url(../images/fees-icons.png) no-repeat 19px -34px}
#othleft-sidebar2 ul li a.fees_ico{background:url(../images/fees-icons.png) no-repeat 19px -75px}
#othleft-sidebar2 ul li a.feca_ico{background:url(../images/fees-icons.png) no-repeat 19px -115px}
#othleft-sidebar2 ul li a.funp_ico{background:url(../images/fees-icons.png) no-repeat 19px -154px}
/*timetable_icons*/
#othleft-sidebar2 ul li a.vt_ico{background:url(../images/timetable_icons.png) no-repeat 18px 10px;}
#othleft-sidebar2 ul li a.vft_ico{background:url(../images/timetable_icons.png) no-repeat 18px -26px;}
#othleft-sidebar2 ul li a.set_t_ico{background:url(../images/timetable_icons.png) no-repeat 18px -68px;}
#othleft-sidebar2 ul li a.set_w_ico{background:url(../images/timetable_icons.png) no-repeat 18px -108px;}
#othleft-sidebar2 ul li a.set_ct_ico{background:url(../images/timetable_icons.png) no-repeat 18px -144px;}
#othleft-sidebar2 ul li a.set_dw_ico{background:url(../images/timetable_icons.png) no-repeat 18px -184px;}
/*transport_icons*/
#othleft-sidebar2 ul li a.list_all_r_ico{background:url(../images/transport_icons.png) no-repeat 18px 9px}
#othleft-sidebar2 ul li a.aroot_ico{background:url(../images/transport_icons.png) no-repeat 18px -30px}
#othleft-sidebar2 ul li a.sstudent_ico{background:url(../images/transport_icons.png) no-repeat 18px -68px}
#othleft-sidebar2 ul li a.allot_ico{background:url(../images/transport_icons.png) no-repeat 18px -111px}
#othleft-sidebar2 ul li a.vdetail_ico{background:url(../images/transport_icons.png) no-repeat 18px -157px}
#othleft-sidebar2 ul li a.rdetail_ico{background:url(../images/transport_icons.png) no-repeat 18px -198px}
#othleft-sidebar2 ul li a.ddetail_ico{background:url(../images/transport_icons.png) no-repeat 18px -240px}
#othleft-sidebar2 ul li a.t_manage_ico{background:url(../images/transport_icons.png) no-repeat 18px -278px}
#othleft-sidebar2 ul li a.b_log_ico{background:url(../images/transport_icons.png) no-repeat 18px -325px}


/*download_icons*/
#othleft-sidebar2 ul li a.upld_all_ico{background:url(../images/download_icons.png) no-repeat 18px 9px}
#othleft-sidebar2 ul li a.upld_create{background:url(../images/download_icons.png) no-repeat 18px -30px}
#othleft-sidebar2 ul li a.upld_manage{background:url(../images/download_icons.png) no-repeat 18px -68px}
#othleft-sidebar2 ul li a.file_cat{background:url(../images/download_icons.png) no-repeat 18px -99px}
#othleft-sidebar2 ul li a.file_cat_manage{background:url(../images/download_icons.png) no-repeat 18px -140px}


#othleft-sidebar2 ul li a:hover{color:#F90;}
#othleft-sidebar2 ul li a span{
	display:block;
	font-size:9px;
	color:#8f8e8e;
	margin:0px;
	padding:0px;
	
	text-transform:none;
}
#othleft-sidebar2 ul li ul{	

margin:0 0 0px 0;
padding:8px 0px;
/*box-shadow:inset 0px 8px 15px #1d1d1d;
    -moz-box-shadow:inset 0px 8px 15px #1d1d1d;
    -webkit-box-shadow:inset 0px 8px 13px #1d1d1d;
background:url(../images/fake_brick.jpg) repeat;*/
position:relative;

}
.sub_arrow{
	position:absolute;
	width:21px;
	height:10px;
	top:-20px;
	right:0px;
	background:url(../images/l-sub-arrow.png) no-repeat;
}
#othleft-sidebar2 ul li ul li{
box-shadow: 0px 0px 0px #fff;
    -moz-box-shadow: 0px 0px 0px #fff;
    -webkit-box-shadow: 0px 0px 0px #fff;
	
	}
#othleft-sidebar2 ul li ul li a{
color:#666;
display: block;
font-family: arial,sans-serif;
font-size: 11px;
text-decoration: none;
/*background:#545454 url(../images/subnavarrow.png) no-repeat right;*/
padding:3px 0 3px 50px;
height:30px;
margin-bottom:0px;
border-bottom:0px #c2ced6 solid;
border-left:0px #e4e4e4 solid;
border-right:0px #e4e4e4 solid;
/*background:#424141;*/

}

#othleft-sidebar2 ul li ul li a:hover{
color:#F90;
text-decoration: none;
border:0;
padding:3px 0 3px 50px;
height:30px;
border-bottom:0px #545454 solid;
border-left:0px #e4e4e4 solid;
border-right:0px #e4e4e4 solid;
}
#othleft-sidebar2 ul li ul li.list_active a{color:#F90;}
#othleft-sidebar2 ul li:hover ul, #left-sidebar ul li.list_active ul {

}

#othleft-sidebar2 ul li:hover ul li, #left-sidebar ul li.list_active ul li{

}
