.button
{
   font-size:16px;
   font-family:Arial,sans-serif;
   height:26px;
}
.output-div-container {
	background-color:#F8F8F8;
}
.input-div {
	text-align:center;
	background-color:#FEFFF0;
}
.ajax-div {
	background-color: #6699FF;
}
#count_display
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  margin-top:5px;
}


table.helpT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 500px;
background-color: #fafafa;
border-collapse: collapse;
border-spacing: 0px; } 

td.helpHed
{ border-bottom: 2px solid #6699CC;
border-left: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040; }

td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 0px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: left;
text-indent: 10px;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: #fafafa; }

table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 580px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 